
body {
	font-family: "Nunito Sans",-apple-system,".SFNSText-Regular","San Francisco",BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Helvetica,Arial,sans-serif;
	background-color: rgba(52, 69, 223, 0.7);
	overflow: hidden;
}



